body {
    margin:0;
    font-family: "Arial", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* Header */

.header {
    padding: 15px 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav__list li {
    opacity: 0.75;
    font-size: 13px;
    cursor: pointer;
}

.nav__list li:not(.nav__list__button):hover {
    text-decoration: underline;
}

.nav__list .nav__list__button {
    color: #fff;
    background-color: #4285f4;
    font-weight: 700;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    border: 1px solid #4285f4;
    opacity: 1;
}

.nav__list .nav__list__button:hover {
    background-color: #2b7de9;
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.nav__grid {
    width: 16px;
    height: auto;
}


/* Main */

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    padding-bottom: 100px;
}

.search__image {
    width: 272px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.search__field {
    position: relative;
}

.search__field__input {
    width: 584px;
    height: 46px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding-left: 45px;
    font-size: 16px;
}

.search__field__input:hover {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.search__field__input:focus {
    outline: none;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.search__field__icon {
    position: absolute;
    left: 20px;
    top: 17px;
    z-index: 1;
    width: 13px;
    height: auto;
    opacity: 50%;
}

.search__buttons > button{
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    cursor: pointer;
}

.search__buttons > button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #dadce0;
    color: #202124;
}

/* Footer */

.footer * {
    margin-top: 0;
    margin-bottom: 0;
}

.footer__bottom > ul {
    flex: 1;
}

.footer__top {
    font-size: 15px;
}

.footer__bottom {
    font-size: 14px;
}

.footer__bottom > *:last-child {
    justify-content: flex-end;
}

.footer__bottom,
.footer__top {
    padding: 10px 25px;
    display: flex;
    color: rgba(0, 0, 0, 0.54);
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}


/* Utilities */

.cluster {
    display: flex;
}

.cluster > *:not(:first-child) {
    margin-left: 15px;
}

.stack >*:not(:first-child) {
    margin-top: 30px;
    justify-content: center;
}